body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  background-color: black;
  border: none;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  font-size: 16px;
  font-weight: bold;
  outline: none;
  padding: 16px;
}

input, select {
  border: 2px solid #ddd;
  border-radius: 8px;
  box-sizing: border-box;
  cursor: pointer;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  font-size: 16px;
  font-weight: bold;
  outline: none;
  padding: 16px;
}

nav {
  border-bottom: 2px solid #eee;
  padding: 16px;
}

.app-heading {
  display: inline-block;
  margin: 8px;
}

.logged-in-as {
  float: right;
  margin-right: 16px;
}

.sign-out-button {
  float: right;
}

.error-message {
  background-color: #ffcccb;
  border-radius: 4px;
  padding: 16px;
}

.section-heading {
  border-bottom: 1px solid #aaa;
  padding-bottom: 16px;
  margin: 16px;
}

.centered-container {
  max-width: 750px;
  margin: auto;
}

.photos-list {
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  max-width: 100vw;
  min-height: 232px;
}

.photos-list-item-wrap {
  background-color: black;
  border-radius: 8px;
  display: flex;
  align-items: center;
  flex: 1;
  margin: 16px;
  height: 200px;
  width: 200px;
}

.photos-list-item {
  max-height: 200px;
  max-width: 200px;
  height: auto;
  width: auto;
}

.new-photo-button {
  align-items: center;
  background-color: #ddd;
  border-radius: 8px;
  display: flex;
  flex: 1;
  height: 200px;
  justify-content: center;
  margin: 16px;
  width: 200px;
}

.plus-sign {
  color: #333;
  font-size: 64px;
}

.share-with-form {
  padding: 16px 0;
  display: flex;
}

.share-with-form input {
  flex: 8;
}

.share-with-form button {
  flex: 1;
}

.full-width {
  display: block;
  width: 100%;
}

.space-before {
  margin-top: 16px;
}

.space-after {
  margin-bottom: 16px;
}
