body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  background-color: #3792cb;
  border: none;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  font-size: 16px;
  font-weight: bold;
  outline: none;
  padding: 16px;
}

button:disabled {
  background-color: #ddd;
}

input, select {
  border: 2px solid #ddd;
  border-radius: 8px;
  box-sizing: border-box;
  cursor: pointer;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  font-size: 16px;
  font-weight: bold;
  outline: none;
  padding: 16px;
}

nav {
  border-bottom: 2px solid #eee;
  padding: 16px;
}

.app-heading {
  display: inline-block;
  margin: 8px;
}

.logged-in-as {
  float: right;
  margin-right: 16px;
}

.sign-out-button {
  float: right;
}

.error-message {
  background-color: #ffcccb;
  border-radius: 4px;
  padding: 16px;
}

.section-heading {
  border-bottom: 1px solid #aaa;
  padding-bottom: 16px;
}

.centered-container {
  max-width: 750px;
  margin: auto;
}

.list-item {
  border-bottom: 1px solid #eee;
}

.new-conversation-list-item {
  display: flex;
  padding: 16px;
}

.new-conversation-list-item p {
  flex: 1;
}

.input-form {
  display: flex;
  padding: 16px 0;
}

.input-form input {
  flex: 1;
}

.full-width {
  display: block;
  width: 100%;
}

.space-before {
  margin-top: 16px;
}

.space-after {
  margin-bottom: 16px;
}
