body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  background-color: #3792cb;
  border: none;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  font-size: 16px;
  font-weight: bold;
  outline: none;
  padding: 16px;
}

button:disabled {
  background-color: #ddd;
}

input, select {
  border: 2px solid #ddd;
  border-radius: 8px;
  box-sizing: border-box;
  cursor: pointer;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  font-size: 16px;
  font-weight: bold;
  outline: none;
  padding: 16px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

.centered-container {
  margin: 0 auto;
  max-width: 900px;
}

.section-heading {
  border-bottom: 1px solid #aaa;
  padding: 16px;
}

.financial-info-section {
  width: fit-content;
  margin: 0 auto;
}

.info-item {
  padding: 16px;
  border-bottom: 1px solid #eee;
}

.buy-button {
  background-color: green;
  width: 50%;
}

.sell-button {
  background-color: red;
  width: 50%;
}

.full-width {
  display: block;
  width: 100%;
}

.space-before {
  margin-top: 16px;
}

.space-after {
  margin-bottom: 16px;
}
